Support foreign members

"foreign members" are extra fields not explicitly described in the geojson spec. They are a valid part of the spec.

Currently foreign members are discarded when round tripping with rust-geojson. **see example below

I'm not sure what the best way to support this is... My first though would be to add an optional `foreign_members: serde_json::Map` to all geometries, populated with any non-described fields.

related to #53 

Excerpted from https://tools.ietf.org/html/rfc7946#section-6
>    ### 6.1.  Foreign Members
>
>    Members not described in this specification ("foreign members") MAY
>    be used in a GeoJSON document.  Note that support for foreign members
>    can vary across implementations, and no normative processing model
>    for foreign members is defined.  Accordingly, implementations that
>    rely too heavily on the use of foreign members might experience
>    reduced interoperability with other implementations.
> 
>    For example, in the (abridged) Feature object shown below
> 
>```
>    {
>        "type": "Feature",
>        "id": "f1",
>        "geometry": {...},
>        "properties": {...},
>        "title": "Example Feature"
>    }
> ```
>    the name/value pair of "title": "Example Feature" is a foreign
>    member.  When the value of a foreign member is an object, all the
>    descendant members of that object are themselves foreign members.
> 
>    GeoJSON semantics do not apply to foreign members and their
>    descendants, regardless of their names and values.  For example, in
>    the (abridged) Feature object below
> ```
>    {
>        "type": "Feature",
>        "id": "f2",
>        "geometry": {...},
>        "properties": {...},
>        "centerline": {
>            "type": "LineString",
>            "coordinates": [
>                [-170, 10],
>                [170, 11]
>            ]
>        }
>    }
> ```
>    the "centerline" member is not a GeoJSON Geometry object.


### ***Example geojson with foreign members 

(named `custom` in this case):

```
{ "type": "FeatureCollection",
  "custom": true,
  "features": [
    { "type": "Feature",
      "geometry": {
          "type": "Point",
          "custom": true,
          "coordinates": [102.0, 0.5]},
      "properties": {"prop0": "value0"},
      "custom": true
      },
    { "type": "Feature",
      "geometry": {
        "type": "LineString",
        "custom": true,
        "coordinates": [
          [102.0, 0.0], [103.0, 1.0], [104.0, 0.0], [105.0, 1.0]
          ]
        },
      "properties": {
        "prop0": "value0",
        "prop1": 0.0
        }
      },
    { "type": "Feature",
       "geometry": {
         "type": "Polygon",
        "custom": true,
         "coordinates": [
           [ [100.0, 0.0], [101.0, 0.0], [101.0, 1.0],
             [100.0, 1.0], [100.0, 0.0] ]
           ]
       },
       "properties": {
         "prop0": "value0",
         "prop1": {"this": "that"}
         }
       }
     ]
}
```

Yeah, seems like we just need to add a new `foreign_members` field on [`geojson::Geometry`], [`geojson::Feature`], and [`geojson::FeatureCollection`]. A little annoying we have to specify it three places, but we can always shuffle things around in the future to remove the redundancy.

Making it a `serde_json::Map` should be fine; ideally we wouldn't expose APIs from third party crates, but it's not that big of a deal.

Also, if anyone adds this, please add something like `/// [RFC7946 § 6](https://tools.ietf.org/html/rfc7946#section-6)` above the field in the struct definition so we can link to the spec in the docs

By the way, I guess if we are adding the support for foreign members, it could be a good occasion to remove the `crs` field, accordingly to the GeoJSON specification and to the issues referencing that (#34 and #53).

So, in this case even if removed, someone with a *crs* information could be able to retrieve it as any other foreign members field.